.anchor-tag {
    color: inherit !important;
    text-decoration: none !important;
}

.anchor-tag:hover {
    color: #ffc107 !important /* Warning Color in Bootstrap */
}

.page-link {
    background-color: #212529 !important;
    color: white !important
}

.page-item.active .page-link {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
    color: #212121 !important
}